## Extração, tratamento e limpeza dos dados!

In [1]:
Instalando as bibliotecas que não são instaladas (por padrão) no Jupyter Notebook:
!pip install plotly

SyntaxError: invalid syntax (195352460.py, line 1)

In [ ]:
# Importando as bibliotecas necessárias:
import pandas as pd
import numpy as np

In [ ]:
# Lendo o arquivo CSV:
data = pd.read_csv("AccidentsPortugues.csv")
data.head()

In [ ]:
# Visualizando as informações sobre as colunas do dataset:
data.info()

In [ ]:
# Visualizando os valores nulos do dataset:
print(data.isnull().sum())

#### Há valores nulos nas colunas "br", "km", "tipo_acidente", "regional" e "delegacia". Esses valores precisam ser tratados entendendo a causa da invalidez de cada um!

In [ ]:
# A coluna "br" deve ser lida como string, porém, foi interpretada automaticamente como float (pois os nomes das BRs são números).
# Antes de alterar o dataset, deve-se fazer uma cópia dos dados:
data_backup = data.copy()

# Com o backup feito, pode-se alterar a coluna "br" de "float" para "string" (no jupyter notebook as strings são identificadas como "object"):
data['br'] = data['br'].astype(str).str.split('.').str[0]

In [ ]:
# Visualizando os dados nulos após a alteração:
print(data.isnull().sum())

In [ ]:
# Restam 2350 nulos, porém, as causas desses nulos não são relevantes.
# Então, se o total de nulos não afetar a estatística (<1%), essas linhas podem ser removidas.

print(data.shape)

In [ ]:
# Como existem 463.152 linhas e apenas 2.350 são nulos, todos os nulos restantes serão removidos, pois representam 0,5% dos dados.
data = data.dropna()

# Visualizando a informação de nulos:
print(data.isnull().sum())

#visualizando o total de linhas no dataset, estes serão os dados analisados:
print(data.shape)

In [ ]:
# Novamente, visualizando os dados da tabela para iniciar a análise a respeito dos acidentes:
data.head()

In [ ]:
# Muitas perguntas são feitas, incluindo: Quantos acidentes acontecem em cada ano/mês/dia? 
data["data_inversa"].value_counts()

In [ ]:
# Cada valor único (data única) foi contado como objeto (string), pois o formato atual da coluna "data_inversa" não é numérico.
data["data_inversa"].info

In [ ]:
# Para obter o resultado que eu desejo, o formato dessa coluna deve ser alterado de "object" para "datetime".
# Antes, o backup:
data_backup2 = data.copy()

# Agora, a alteração:
data['data_inversa'] = pd.to_datetime(data['data_inversa'])

# Visualizando o tipo de dado na coluna data_inversa:
data['data_inversa'].info()